h1 {
    text-align: center; 
	background-color:#520000;
	animation:animate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
    border-style: inset;
    color: #f4a529; 
    font-family: "Comic Sans MS", "Comic Sans", cursive; /*use multiple fonts for fallback*/
    font-weight: bold;
    width: 90%; /*may need expanding, depending on data size*/
}
@keyframes animate {
  0%   {color: red;}
  25%  {color: #f4a529;}
  50%  {color: yellow;}
  100% {color: #f4a529;}
}
table {
  width: 50%;
  border-collapse: collapse;
  position:absolute;
  left: 6%;
  border-style: solid;
}

td, th {
  /*border-color: #f4a529;*/
  	animation:animate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
  padding: 1px;
  text-align: left;
}

td {
    border-style: solid;
    background-color:purple;
}

th {
  border-style: solid;
  text-align: center;
  font-size: 25px;
  border-collapse: collapse;
  background-color:#520000;
}

th:first-child{
    border-right: none;
}

th:last-child{
    border-left: none;
}

body{
    background-image:linear-gradient(to left,#186118,#3eb489,#186118);
    font-family: "Comic Sans MS", "Comic Sans", cursive; /*use multiple fonts for fallback*/
    font-weight:bold;
    color:#f4a529;
}

#tombstone{
	position:absolute;
	right: 6%;
}

@keyframes bonjour {
  0%   {top: 300px;}
  20%  {top:325px;}
  40%  {top: 350px;}
  60% {top: 350px;}
  80% {top: 325px;}
  100% {top:300px;}
}
#test{
	position:absolute;
	left:6%;
	top: 400px;
 	animation:bonjour;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
