<!doctype html>
<html lang="en"> <!-- set lang to english-->
<head>
  <title>title</title>  <!--page title-->
  <meta name="viewport" content="width=device-width"> <!--make page adjust to device screen size-->
  <meta name="author" content="Wyatt Shanahan" />
  <link rel="stylesheet" href="style.css">  <!-- tells which css file to use-->
  <link rel="icon" type="image/x-icon" href="vibin.gif"> <!-- set icon-->
</head>
<body style="background-image:linear-gradient(to left,#186118,#3eb489,#186118)"> <!-- other colour: 00805b -->
    <h1 id="header">Population Growth Projection</h1>
</body>
</html>
