h1 {
    text-align: center; 
}

table {
  width: 16%;
  border-collapse: collapse;
  position:absolute;
  left: 42%;
}

td, th {
  border-color: black;
  padding: 1px;
  text-align: left;
}

td {
    border-style: solid;
}

th {
  border-style: solid;
  text-align: center;
  font-size: 25px;
  border-collapse: collapse;
}

th:first-child{
    border-right: none;
}

th:last-child{
    border-left: none;
}
