body{
    background: #90c04b;
    color: #c55e52;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1{ /*header with name formatting*/
    background-color:#52b9c5;
    border-style: inset;
    color: #c55e52; 
    font-family: "Comic Sans MS", "Comic Sans", cursive; /*use multiple fonts for fallback*/
    font-weight: bold;
    text-align: center;
    width: 90%; /*may need expanding, depending on data size*/
} 

#parrot{
    position:absolute;
    right:95px;
    top:50px;
}

#submit {
background: #52b9c5;
color: #c55e52;
border-style: outset;
border-color: #0066A2;
height: 50px;
width: 200px;
    font-family: "Comic Sans MS", "Comic Sans", cursive; /*use multiple fonts for fallback*/
    font-weight: bold;
    text-shadow: none;
}

#songzone {
font-family: "Comoc Sans MS", "Comic Sans", cursive;
background: #52b9c5;
position: relative;
padding: 10px;
border-radius:15px;
color: #c55e52;
font-weight:bold;
width: 30%;
float: left;
box-shadow: 2px 2px 10px black;
min-height: 200px;
}

#iframe {
background: #52b9c5;
position: absolute;
left: 33%;
padding: 2%;
height: 325px;
border-radius: 15px;
float: right;
width: 580px;
box-shadow: 2px 2px 10px black;
}
