table {
  border-style: solid;
  border-collapse: collapse;
}

td, th {
  border-style: solid;
  border-color: black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: green;
  color: white;
  text-align: center;
}

tr:nth-of-type(odd) {
      background-color : PaleGreen;

}
