#header{ /*header with name formatting*/
    background-color:#520000;
    border-style: inset;
    color: #f4a529; 
    font-family: "Comic Sans MS", "Comic Sans", cursive; /*use multiple fonts for fallback*/
    font-weight: bold;
    text-align: center;
    width: 90%;
}

body{
    background-image:linear-gradient(to left,#186118,#3eb489,#186118);
    font-family: "Comic Sans MS", "Comic Sans", cursive; /*use multiple fonts for fallback*/
    font-weight:bold;
    color:#f4a529;
}

#input{
    padding-left:2px;
}
