#outarea { 
  position: absolute; 
  left: 49%; 
  padding: 10px; 
  min-height: 200px; 
  border-radius: 15px; 
  width: 46%; 
  box-shadow: 2px 2px 10px black; 
} 

#inputarea { 
  position: absolute; 
  padding: 10px; 
  border-radius: 15px; 
  width: 46%; 
  box-shadow: 2px 2px 10px black;   
  min-height: 200px; 
} 
